.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1000;
    .modal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: white;
        border-radius: 6px;
        box-shadow: 9px 5px 35px #a3a3a3;
        transition: all .5s;
        &.close {
            width: 0 !important;
            height: 0 !important;
        }
        .close {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            i {
                font-size: 16px;
                color: #ccc;
            }
        }
        .modal-header-wrapper {
            min-height: 20px;
            .modal-header {
                line-height: 44px;
                height: 44px;
                background: #89A0B1;
                font-size: 18px;
                text-align: center;
                color: white;
            }
        }
        .modal-body {
            padding: 10px;
            // overflow-y: auto;
            // overflow-x: hidden;
        }
        .modal-footer-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            .modal-footer {
                display: flex;
                justify-content: space-around;
                padding-top: 6px;
                padding-bottom: 10px;
                background: #FCFCFC;
                button {
                    border: 0;
                    cursor: pointer;
                    outline: none;
                    width: 110px;
                    height: 36px;
                    border-radius: 17px;
                    font-size: 14px;
                }
                .confirm {
                    background:linear-gradient(270deg,rgba(138,173,197,1) 0%,rgba(75,136,188,1) 100%);
                    color: white;
                }
                .cancel {
                    background:linear-gradient(270deg,rgba(243,243,243,1) 0%,rgba(224,224,224,1) 100%);
                    box-shadow:2px 2px 8px 0px rgba(183,183,183,0.34);
                }
                .confirm.only {
                    width: 110px;
                    height: 36px;
                }
            }
        }
    }
}

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .3s;
}